body {

  font-family: "Arial", sans-serif;
  /* background-color: #7FD9FE; */
  background-color: #0b521e;
  margin: 0;
  background-image: url(../images/background_image.JPG);
  /* height: 500px; /* You must set a specified height */ */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  }


.titlePageImage {
  background-image: url(./images/tent.JPG); /* The image used */
  background-color: #7FD9FE; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#logo{
  max-width: 100px;
  max-height: 40px;
}

#facebookLink{
  color: yellow;
  font: Arial;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

#wordlistTitle {
  font-size: 200%;
  font-family: Arial;
  font-weight: normal;
  font-style: italic;
  padding: 10px;
  margin: 20px;
  color: yellow;
}

#welldone
{
  font-size: 150%;
  font-family: Arial;
  font-weight: normal;
  font-style: italic;
  padding: 10px;
  margin: 20px;
  color: black;
  text-align: left;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h1 {/*#122533 */
  color: white;
  font-family: verdana;
  font-size: 300%;
  padding: 10px;
  margin: 20px;
}

h2 {
  color: black;
  font-family: Arial;
  font-weight: lighter;
  font-style: italic;
  font-size: 150%;
  padding: 10px;
  margin: 20px;
}

h3 {
  color: black;
  font-family: Arial;
  font-size: 100%;
  padding: 5px;
  margin:4px 2px;
}

p {
  color: black;
  font-size: 100%;
  border: none;
  padding: 5px;
  margin: 4px 2px;
}

.ksankaText {
  /*color: #D46633;*/
  color: #D46633;
  text-decoration: none;
}

.ksankaText:hover {
  /*color: #D46633;*/
  color: orange;
  cursor: pointer;
}

.ksankaTextBig {
  color: #D46633;
  font-family: Arial;
  font-weight: lighter;
  font-style: italic;
  font-size: 150%;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
}

.ksankaTextBig:hover {
  color: orange;
  cursor: pointer;
}

.subtitle {
  font-size: 150%;
  font-family: verdana;
  font-weight: normal;
  font-style: italic;
  padding: 10px;
  margin: 20px;
  color: yellow;
}

.titleText
{
  /*color: #D46633;*/
  color: white;
  font: Arial;
  font-size: 90%;
}

/* a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}
a:hover, a:active {
  background-color: red;
} */

.square {
    object-fit: contain;
    -o-object-fit: contain;
    max-width: 50vh;
    max-height: 50vh;
}

/* .square:hover{
  object-fit: contain;
  -o-object-fit: contain;
  max-width: 100vh;
  max-height: 100vh;
} */



#expandableImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#expanableImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.text_message_background {
  background-image: url(../../images/paint_pattern.PNG);
  /* height: 500px; /* You must set a specified height */ */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.item1 {
  grid-area: image;
  background-color: transparent;
  text-align: left;
}
.item2 {
  grid-area: textspace;
  /* background-color: #fcf483; bright yellow*/
  /* background-color: #F6E27F; golden beige*/
  /* background-color: #FDFEFC; original white */
  /*background-color: #2E9DFF;*/
  /* background-color: #fff9ed; */
  align-items: stretch;
}

.item3 {
  grid-area: choice1;
  /* background-color: #FDFEFC; */
  /* background-color: #9BBEC7; */
  background-color: transparent;
 }
.item4 {
  grid-area: choice2;
  background-color: transparent;
}
.item5 {
  grid-area: choice3;
background-color: transparent;
}
.item6 {
  grid-area: audiospace;
  background-color: transparent;
}
.item7 {
  grid-area: buttonspace;
  background-color: transparent;
  /* background-image: url(../images/parfleche_border.png); */
}
.item8 {
  grid-area: header;
}
.item9 {
  grid-area: footer;
}

.item10 {
  grid-area: wordlist;
  text-align: left;
  align-items: left;
}

table {
  width: 100%;
  max-width: 2000px;
  column-width: 25%;
  margin-top: 10px;
  margin-left: 30px;
  padding: 10px;
  vertical-align: top;
  border-collapse: separate;
  border-spacing: 0 1em;
}

#ktunaxaColumn {
  column-width: 25%;
}

.body-container {
  display: grid;
  width: auto;
  max-height: 50vh;
  align-items: center;
  grid-template-columns: 15fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "headlineContainer"
    "contentContainer"
    "buttonContainer";
}

.content-container {
  grid-area: contentContainer;
  display: grid;

  grid-template-columns: auto;
  grid-template-rows: auto max-content max-content max-content;
  align-items: center;
  grid-template-areas:
    "image image buttonspace textspace textspace textspace"
    "image image buttonspace textspace textspace textspace"
    "image image buttonspace choice1 choice1 choice1"
    "image image buttonspace choice2 choice2 choice2"
    "image image buttonspace choice3 choice3 choice3";
  grid-gap: 10px;
  /* background-color: #7FD9FE; */
  /*background-color: #FFE573; */
  /* background-color: white; */
  padding: 20px;
  margin: 20px;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  background-color: white;
}

.titlePageContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh;
  align-items: center;
  grid-template-areas:
  "headlineTitleSpace"
  "startButtonSpace"
  "wordlistContainer"
  "acknowledgmentsSpace";
  grid-gap: 10px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.wordlistPage-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50vh;
  align-items: center;
  grid-template-areas:
  "headlineTitleSpace"
  "wordlistContainer"
  "downloadContainer"
  "acknowledgmentsSpace";
  grid-gap: 10px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.wordlist-container{
  grid-area: wordlistContainer;
  display: grid;
  width: 1fr;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: center;
  grid-template-areas:
    "wordlist wordlist"
    "buttonspace buttonspace"
    "footer footer"
  grid-gap: 10px;
  /* background-color: #7FD9FE; */
  /*background-color: #FFE573; */
  /* background-color: white; */
  padding: 20px;
  top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  right: 50px;
  text-align: left;
  background-color: white;
  opacity: 0.9;
}

.download-container{
  grid-area: downloadContainer;
  display: grid;
  grid-template-columns: auto;
  align-items: left;
  grid-template-areas:
    "textspace textspace textspace textspace"
    "downloadHeadline1 downloadHeadline2 downloadHeadline3 downloadHeadline4"
    "download1 download2 download3 download4";
  grid-gap: 10px;
  padding: 20px;
  top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  right: 50px;
  text-align: left;
  background-color: white;
  opacity: 0.9;
}

.download1 {
  grid-area: download1;
  background-color: transparent;
  padding-right: 20px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.download2 {
  grid-area: download2;
  background-color: transparent;
  padding-right: 20px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.download3 {
  grid-area: download3;
  background-color: transparent;
  padding-right: 20px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.download4 {
  grid-area: download4;
  background-color: transparent;
  padding-right: 20px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.downloadHeadline1 {
  grid-area: downloadHeadline1;
  background-color: transparent;
  padding-right: 20px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.downloadHeadline2 {
  grid-area: downloadHeadline2;
  background-color: transparent;
  padding-right: 20px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.downloadHeadline3 {
  grid-area: downloadHeadline3;
  background-color: transparent;
  padding-right: 20px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.downloadHeadline4 {
  grid-area: downloadHeadline4;
  background-color: transparent;
  padding-right: 20px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.headlineTitleSpace {
  grid-area: headlineTitleSpace;
  background-color: rgba(100, 100, 100, 0.6);
  padding: 20px;
  margin-left: 50px;
}

.startButtonSpace {
  grid-area: startButtonSpace;
  background-color: transparent;
  background-image: url(../images/);
  padding-bottom: 40px;
  padding-top: 40px;
}

.acknowledgmentsSpace {
  grid-area: acknowledgmentsSpace;
  top: 20px;
  margin-left: 50px;
  background-color: rgba(30, 130, 76, 0.7);
  padding: 20px;
}

.button-container {
  grid-area: buttonContainer;
  display: grid;

  grid-template-columns:auto;
  grid-template-rows: auto;
  grid-template-areas:
    "button";
  grid-gap: 20px;
  padding: 20px;
  margin: 20px;
  margin-top: 20px;
  text-align: center;
}

.buttonStart {
  /* background-color: #7FD9FE; original blue #DBD563 yellow*/
  background-color: orange;
  border: none;
  border-radius: 12px;
  margin: 20px;
  padding: 15px 15px;
  text-align: center;
  color: white;
  text-decoration: none;
  font: Arial;
  font-size: 130%;
  font-weight: bold;
  cursor: pointer;
}

.buttonStart:hover {
  background-color: #D46633;
}

.buttonMenu {
  /* background-color: #7FD9FE; original ;  #BF4556 nice pink!blue ;  #BF4556 nice pink!*/
  background-color: orange;
  border: 1px solid orange;
  border-radius: 12px;
  color: white;
  margin: 5px;
  padding: 15px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 65%;
  font-weight: bolder;
  display: inline-block;
}

.backButton {
  /* background-color: #7FD9FE; original ;  #BF4556 nice pink!blue ;  #BF4556 nice pink!*/
  background-image: url(../images/hooves.PNG);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: #D46633;
  border: 1px solid #D46633;
  border-radius: 12px;
  color: transparent;
  margin: 2px;
  padding: 15px 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 65%;
  font-weight: bolder;
  /* display: inline-block; */
}

.backButton:hover {
  background-color: orange;
  border: 1px solid orange;
}

.buttonChoices {
  width: 100%;
  background-color: #D46633;
  border: 4px solid #D46633;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 130%;
  font-family: Arial;
  margin: 4px 20px 4px 8px;
  border-radius: 12px;
  cursor: pointer;
}

.buttonChoices:hover {
  background-color: orange;
  border: 4px solid orange;
}

.buttonPronunciations {
  width: auto;
  background-color: #D46633;
  border: 4px solid #D46633;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  font-family: Arial;
  margin: 2px 20px 2px 8px;
  border-radius: 12px;
  cursor: pointer;
}

.buttonPronunciations:hover {
  background-color: orange;
  border: 4px solid orange;
}

.rectangle {
  display: inline-block;
  width: 200px;
  height: 300px;
  }


.menu_button {
  background-color: orange;
  border: none;
  color: black;
  width: 150px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
}

.choice_button {
  background-color: white;
  border: 4px solid orange;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 130%;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
}

footer {
  background-color: #fff099;
  padding: 50px;
  max-width: 50%;
  margin: auto;
}

@media only screen
  and (min-width: 1000px)
  and (orientation: landscape){
    .content-container {width: 1020px;
    }
}

@media only screen
and (max-width: 750px){
  .content-container {

    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas:
    "image image"
    "image image"
    "textspace textspace"
    "audiospace audiospace"
    "choice1 choice1"
    "choice2 choice2"
    "choice3 choice3"
    "buttonspace buttonspace";
  }
  .headline-container{
    max-width: 500px;
  }
  .square{
    object-fit: cover;
    -o-object-fit: cover;
    max-width: 375px;
    max-height:85%;
}
}


.centerthis {
  align-self: center;
  justify-self: center;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 50vh solid transparent;
    border-right: 50vh solid transparent;
    border-top: 30px solid green;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 50vh solid transparent;
    border-right: 50vh solid transparent;
    border-bottom: 30px solid green;
}
